#reward_table {
    border-collapse: collapse;
    margin: auto;
    margin-right: 20px;

    thead {
        background: black;
        position: sticky;
        top: 0;
    }

    th,
    td {
        border: 1px solid white;
        padding: 10px;

        button {
            margin-left: 5px;
            padding: 5px;
        }

        input {
            background: transparent;
            border: 1px solid white;
            color: white;
        }
    }

    td.item_price{
        .item_price_content{
            display: flex;
        }
    }
}
